nav {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.hero__left {
  margin-top: 8%;
}

.card--heading {
  // color: hsl(348, 100%, 61%);
  color: hsl(217, 71%, 53%);

}

.card__main {
  &--content {
    // color: hsl(348, 100%, 61%);
    // color: hsl(171, 100%, 41%);
    color: hsl(217, 71%, 53%);
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 24px;
    margin-bottom: 15%;
  }
}
