<!-- A section about the  -->
<div class="container">
  <div class="column animated fadeInRight">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title card--heading">
          Main Pollutant
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="tag is-info">
            Based on the US Standard
          </span>
        </a>
      </header>
      <div class="card-content card__main">
        <div class="content">
          <h1 class="card__main--content">{{ currentPollutionData?.pollutant }}</h1>
          is the sum of all solid and liquid particles suspended in air many of which are hazardous. This complex
          mixture includes both organic and inorganic particles, such as dust, pollen, soot, smoke, and liquid
          droplets. These particles vary greatly in size, composition, and origin.
        </div>
      </div>
    </div>
  </div>
</div>
